[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
pylama = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
fastapi = {extras = ["all"],version = "*"}
uvicorn = ">=0.11.7"
gunicorn = "*"
kafka-python = "*"
datasette = "*"
datasette-auth-github = {editable = true,git = "https://github.com/jameswnl/datasette-auth-github.git",ref = "ignore-paths"}
coverage = "*"

[requires]
python_version = "3.6"
